
.list-group-item-primary.nav-bar{
    background-color: #ffcad4;
    border-color: black;
}

.list-group {
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin-left:10px;
}